@font-face {
  font-display: swap;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-v13-latin-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/barlow-v13-latin-500.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/barlow-v13-latin-600.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/barlow-v13-latin-700.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/barlow-v13-latin-800.woff2') format('woff2');
}

:root {
  --absolute-white: #fff;
  --absolute-black: #000;
  --green-50: #9eff00;
  --green-60: #b1ff33;
  --green-70: #c5ff66;
  --green-80: #d8ff99;
  --green-90: #ecffcc;
  --green-95: #f5ffe5;
  --green-97: #f9fff0;
  --green-99: #fdfffa;
  --grey-10: #1a1a1a;
  --grey-15: #262626;
  --grey-20: #333;
  --grey-30: #4c4c4d;
  --grey-35: #59595a;
  --grey-40: #656567;
  --grey-60: #98989a;
  --grey-90: #e6e6e6;
}

/*base*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 18px;
}

body {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  color: var(--grey-90);
  background-color: var(--grey-10);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

img {
  display: block;
  height: auto;
  object-fit: cover;
}

/*button*/
.button {
  font-family: 'Barlow', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 150%;
  color: var(--grey-15);
  background-color: var(--green-50);
  border: none;
  border-radius: 8px;
  padding: 0.889rem 1.333rem;
  cursor: pointer;
}

/*container*/
.container {
  width: 100%;
  max-width: 91.333rem;
  margin: 0 auto;
  padding: 0 1.333rem;
}

/*border*/
.border {
  border: 1px solid var(--grey-15);
  border-top: none;
}

/*section-header*/
.section-header {
  text-align: center;
  margin: 0 auto;
  padding: 6.667rem 0;
  position: relative;

  &::before {
    position: absolute;
    z-index: -1;
    content: '';
    left: 0;
    top: 0;
    width: 88.667rem;
    height: 18.667rem;
    mix-blend-mode: soft-light;
  }

  &__title {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 0.778rem;
  }

  &__text {
    line-height: 133%;
    letter-spacing: -0.01em;

    &.higher {
      line-height: 150%;
    }
  }
}

/*header*/
.header {
  padding: 1.111rem 0 1.056rem 0;
  border-bottom: 1px solid var(--grey-15);

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.333rem;
  }

  &__nav {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    gap: 1.333rem;
  }

  &__logo-link {
    display: inline-block;
    line-height: 0;
  }

  &__list {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding-right: 2.389rem;
    gap: 1.667rem;
  }

  &__list-link {
    color: var(--grey-90);
    line-height: 150%;

    &.active {
      font-weight: 600;
      background-color: var(--grey-15);
      padding: 0.778rem 1.556rem 0.778rem 1.556rem;
      border-radius: 8px;
    }
  }
}

/*hero-section*/
.hero-section {
  &__first-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6.222rem 0 15.222rem 0;
    background-image: url('../images/hero-section-bg.png');
  }

  &__title {
    max-width: 712px;
    font-weight: 600;
    font-size: 68px;
    text-align: center;
    color: var(--absolute-white);
    margin-bottom: 2.222rem;
  }

  &__text-container {
    padding: 1.944rem 2.222rem;
    backdrop-filter: blur(4px);
    background: rgba(36, 36, 36, 0.2);
    border: 1px solid var(--grey-15);
    border-radius: 12px;
    font-size: 22px;
    color: var(--grey-60);
    margin-bottom: 2.778rem;
  }

  &__accented-text {
    padding: 0.667rem 0.778rem;
    color: var(--absolute-white);
    background-color: var(--grey-15);
    border-radius: 8px;
  }

  &__buttons-container {
    display: flex;
    gap: 0.722rem;
  }

  &__button {
    padding: 0.944rem 1.5rem;
    line-height: 122%;
    border-radius: 10px;

    &.transparent {
      backdrop-filter: blur(4px);
      background: rgba(36, 36, 36, 0.2);
      border: 1px solid var(--grey-20);
      color: var(--absolute-white);
    }
  }

  &__second-container {
    position: relative;
    padding: 2.222rem 0;
    background-color: rgba(36, 36, 36, 0.2);
  }

  &__additional-text-container {
    position: absolute;
    justify-self: center;
    top: -1.778rem;
    font-weight: 500;
    color: var(--green-99);
    border: 1px solid var(--grey-15);
    border-radius: 100px;
    background-color: var(--grey-10);
    padding: 1.056rem 1.833rem;
  }

  &__img-list {
    display: flex;
    flex-direction: row;
    gap: 1.111rem;

    & li {
      max-height: 5rem;
    }
  }

  &__img {
    max-width: 13.852rem;
    height: 5rem;
  }
}

/*services-section*/
.services-section {
  &__bg {
    background-image: url('../images/section-header-bg-small.png');

    &::before {
      background-image: url(../images/services-section-bg2.png);
    }
  }

  &__list {
    display: flex;
    flex-direction: row;

    & li {
      min-height: 32.056rem;
      max-width: 29.556rem;
      width: 100%;
      border-right: 1px solid var(--grey-15);

      &:last-child {
        border: none;
      }
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.111rem;
    height: 100%;
    padding: 2.778rem;
    line-height: 133%;
    letter-spacing: -0.01em;

    &__img {
      margin-bottom: 2.222rem;
      width: 4.889rem;
      height: 4.889rem;
    }

    &__title {
      margin-bottom: 1.111rem;
      font-weight: 600;
      font-size: 30px;
      line-height: 150%;
      color: var(--absolute-white);
    }

    &__text {
      max-width: 23.778rem;
    }

    &__link {
      width: 100%;
      padding: 1rem;
      text-align: center;
      font-weight: 500;
      border-radius: 8px;
      color: var(--absolute-white);
      background-color: var(--grey-15);
    }
  }
}

/*choose-section*/
.choose-section {
  &__bg {
    background-image: url('../images/section-header-bg-small.png');

    &::before {
      background-image: url('../images/choose-section-bg2.png');
    }
  }

  &__second-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35.528rem, 1fr));
  }

  &__card {
    padding: 4.444rem;
    border-bottom: 1px solid var(--grey-15);

    &:nth-child(odd) {
      border-left: 1px solid var(--grey-15);
      border-right: 1px solid var(--grey-15);
    }
    &:nth-child(even) {
      border-right: 1px solid var(--grey-15);
    }

    &__logo-container {
      display: flex;
      align-items: center;
      gap: 1.111rem;
      margin-bottom: 2.222rem;
    }

    &__title {
      font-size: 26px;
      font-weight: 500;
      line-height: 150%;
      letter-spacing: -0.01em;
      color: var(--absolute-white);
    }

    &__text {
      max-width: 35.472rem;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: -0.01em;
    }
  }
}

/*reviews-section*/
.reviews-section {
  &__bg {
    background-image: url('../images/section-header-bg-small.png');

    &::before {
      height: 20.333rem;
      background-image: url('../images/reviews-section-bg.png');
    }
  }

  &__second-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(35.556rem, 1fr));
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5.556rem 4.444rem;
    gap: 2.222rem;
    border-bottom: 1px solid var(--grey-15);

    &:nth-child(odd) {
      border-left: 1px solid var(--grey-15);
      border-right: 1px solid var(--grey-15);
    }
    &:nth-child(even) {
      border-right: 1px solid var(--grey-15);
    }

    &__title {
      font-size: 28px;
      font-weight: 500;
      line-height: 150%;
      color: var(--green-80);
      margin-bottom: 1.333rem;
    }

    &__text {
      line-height: 150%;
    }

    &__commentator-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      padding: 1.111rem;
      border: 1px solid var(--grey-15);
      border-radius: 8px;
      background-color: rgba(36, 36, 36, 0.2);

      & {
        > div {
          display: flex;
          gap: 1rem;
        }
      }
    }

    &__img {
      width: 3.333rem;
      height: 3.333rem;
    }

    &__name {
      font-weight: 500;
      font-size: 20px;
      line-height: 150%;
      color: var(--absolute-white);
    }

    &__position {
      line-height: 150%;
    }

    &__link {
      padding: 1rem 1.111rem;
      font-weight: 500;
      line-height: 150%;
      color: var(--absolute-white);
      border-radius: 8px;
      background-color: var(--grey-15);
    }
  }
}
